@import "../../sass/index.scss";

.menu {
  > a h2 {
    text-transform: uppercase;
    margin-bottom: 10px !important;
    color: $font-dark;
  }

  > p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
